.margin2{
	margin:250px 0 0 0;
	
}
.box-left{
	width:800px;
	height:300px;
	position: ;
	margin:0 auto;
	float:left;
	background:#0005;

}
.box-right{
	width:800px;
	height:300px;
	position: ;
	margin:0 auto;
	float:right;
	background:#0005;

}
.box-left p{
	width:800px;
	height:20px;
	margin:0 auto;
	padding-top:20px;
	font-size:30px;
	
}
.box-right p{
	width:800px;
	height:20px;
	margin:0 auto;
	padding-top:20px;
	font-size:30px;
	
}
.hover{
	position: relative;
	float:left;
	margin:0 auto;
	margin:37 0 0 24;
	
}
.hover1{
	position: relative;
	margin-left:-600px;
	margin-top:60px;
	
}
.hover img{
  width:750px;
	height:200px;
	border:1px solid #cdcdcd;
	margin:0 auto;
	position: absolute;
	
}
.hover a{
	width:250px;
	height:30px;
	position: absolute;
	margin:0 auto;
	float:left;
	margin-top:150px;
	margin-left:50px;
	text-decoration: none;
	background:skyblue;
	border-radius:7px;
	padding-top:2px;
	color:black;
	font-size:20px;
  text-align: center;
	transition-duration: 0.5s;
	
}
.hover a:hover{
	background:#0008;
	color:white;
	
}
.hover1 a{
	width:250px;
	height:30px;
	position: absolute;
	margin:0 auto;
	float:left;
	margin-top:127px;
	margin-left:370px;
	text-decoration: none;
	background:skyblue;
	border-radius:7px;
	padding-top:2px;
	color:black;
	font-size:20px;
  text-align: center;
	transition-duration: 0.5s;
	
}
.hover1 a:hover{
	background:#0008;
	color:white;
	
}
.margin-top{
	margin:0 auto;
	margin-top:150px;
	
}
.margin-top2{
	margin:0 auto;
	margin-top:80px;
	
}
.margin-bottom{
	margin:0 auto;
	margin-top:60px;
	
}
.margin-left{
	margin:0 auto;
	margin-left:10px;
	
}






