.margin{
  margin:400 0 0 0;
  
}
.length{
  margin:0 auto;
  width:500px;
  height:auto;
  margin-top:70px;
  
}
.mypic{
  width:1200px;
  height:650px;
  margin:0 auto;
  overflow: hidden;
  
}
.mypic img{
  width:auto;
  margin:0 auto;
  margin-left:-150;
  text-align: center;
	width:auto;
  margin-top:120px;
  
}
.mypic h1{
  position: absolute;
  text-align: center;
  font-family: Cotillion;
  font-size:60px ;
  margin:-200 0 0 700;
  
}
.mypic p{
  position: absolute;
  text-align: center;
  font-family: Cotillion;
  font-size:60px ;
  margin:-60 0 0 140;
  
}
.mypic h3{
  position: absolute;
  text-align: center;
  font-family: Cotillion;
  font-size:60px ;
  margin:-140 0 0 660;
  
}
.mypic h3 p{
  position: absolute;
  text-align: center;
  font-family: Cotillion;
  font-size:60px ;
  margin:-60 0 0 170;
  
}
.mypic ::first-letter{
  color:#92dd03;
  
}
.mypic h3::first-letter{
  color:red;
  
}
.mypic h1::first-letter{
  color:red;
  
}
.text2 p{
  margin:0 auto;
  margin-top:50px;
  width:300px;
  font-size:50px;
  font-family: Cotillion;
  font-weight: bold;
  border-bottom:1px solid #92dd03;
  padding:10px;
  
}
.text2 ::first-letter{
  color:#92dd03;

}

/** About me css **/

.own{
  width:1000px;
  text-align: center;
  margin: 0 auto;
  margin-top:50px;
  font-size:30px;
  
}
.own{
  font-family:Gabriola;
  
}
.first::first-letter{
  color:red;
  font-size:35px;
  
}



/* --- Skills --- */

.progress-wrap{
  position: relative;
  margin-top:25px;
}
.progress-wrap h3{
  margin-bottom: 15px;
  
  
}

.progress .color1,
.progress .color1 .bar-width{
  background: #6ba430;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #2e7ea4;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #2e7ea4;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #ffcc34;
}

.progress, 
.progress-bar {
  height: 23px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #6ba430 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #2e7ea4 transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #2e7ea4 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #ffcc34 transparent transparent transparent;
}
.specialties img {
  margin-top:30px;
  margin-bottom:50px;
}

.skills {
  box-shadow:inset 0 0 0 16px #fff,inset 0 0 0 17px #eee,inset 0 0 0 18px #fff,inset 0 0 0 19px #eee,inset 0 0 0 20px #fff,inset 0 0 0 21px #eee,0 4px 20px rgba(0,0,0,0.1);
  -webkit-transform:translateZ(0px);
  transform:translateZ(0px);
  opacity:1;
  pointer-events:auto;
}
.skills h5 {
  margin:0;
  font-size:14px;
}
.skills .rm-thumb {
  width:100px;
  height:100px;
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  margin:0 20px 0 0;
  box-shadow:inset 1px 1px 3px rgba(0,0,0,0.2),1px 1px 1px rgba(255,255,255,0.1);
  border-radius:50%;
}
.skills {
  font-size:12px;
  padding:40px 40px 20px 40px;
}
.restitem {
  margin-bottom:40px;
}
.restitem p {
  margin-bottom:0px;
}
.skills h3.main {
  margin:0 0 20px 0;
  font-size:19px;
  padding-bottom:10px;
  color:#92DD03 ;
  border-bottom: 4px double #eee;
}

/**Education**/


.edu-card{
  width:400px;
  height:200px;
  margin:0 auto;
  border:1px solid #cdcdcd;
  position: relative;
  float:left;
  margin:70 0 0 20;
  text-align: center;
  background:#cdcdcd;
  
}
.sub-wraper2{
  width:1000px;
  height:400px;
  margin:0 auto;
  overflow: auto;
  margin-left:160px;
  text-align: center;
  
}
.edu-card h1{
  width:350px;
  height:120px;
  font-size:40px;
  text-align: center;
  margin:0 auto;
  
}
.edu-card p{
  width:350px;
  height:70px;
  margin:0 auto;
  text-align: center;
  font-size:50px;
  background:#92DD03;
  color:#fff;
  padding-top:3px;
  padding-bottom:;
  
}








