/**Tutorials**/

.dropdown{
	float:;
	width:1198px;
  height:100%;
  margin:2 auto;
  border:1px solid #cdcdcd;
  float:left;
	
}
.dropdown p{
	font-size:40px;
	width:600px;
	height:60px;
	float:center;
  margin:100 0 0 290;
  color:black;
  background-color:whitesmoke;
  text-align:center;
  border-radius:10px;
  padding-top:10px;
	border:1px solid #cdcdcd;
  
  
}
.p2{
	width:800px;
	float:;
	height:200px;
  margin:50 0 0 165;
  text-align:center;
   transform:2s linear infinite;
	
}
.p2 ul{
  margin:-30 0 0 50;
  list-style: none;
  
}
.p2 li a{
  text-decoration: none;
  font-size:30px;
  color:blue;
  margin:0 0 0 0;
  line-height:70px;
  padding:15px;
 
  
}
.p2 li a:hover {
  border:1px solid #cdcdcd;
  background-color:whitesmoke;
  transition-duration: 0.5s;
  border-radius:10px;
  color:black;
  
}















