


.slideshow{
	width:1198px;
	height:350px;
	border:1px solid white;
	position:relative;
  float:left;
  margin:2 0 2 -1;
  animation:0.2s linear infinite;
  
	
}
.slideshow img{
	width:1200px;
	height:350px;
	position:absolute;
	
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}
.fade {
  animation-name: fade;
  animation-duration:4s;
}
@keyframes fade {
  from {opacity: .0} 
  to {opacity: 1}
}














































