.box2{
  width:1198px;
  height:479px;
  margin:0 0 0 60;
  
  
}

.card-show{
  width:202px;
  height:150px;
  margin:50 0 0 50;
  position: relative;
  transition-duration:1s;
  border:1px solid #cdcdcd;
  float:left;
}
.float-left{
  float:left;
  
}
.card-show img{
  width:200px;
  height:150px;
  
  margin:0 0 0 0;
  
}
.card-show:hover{
  transform:scale(1.2);
  
}
.card-show li {
  position: absolute; 
  bottom: 0; 
  background: #cdcdcd;
  color: #cdcdcd; 
  transition: .5s ease;
  opacity:1;
  color: black;
  font-size: 15px;
  text-align: center;
  list-style: none;
  display:none;
  width:168px;
  height:40px;
  margin:0 0 4 17;
}

.card-show:hover li{
  transform:scale(1.2);
  display: block;
  
}

